## Introduction to library

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Imported the reqired libarryes
#### numpy 
contents the all mathamatical tools for the performing operation effectively
#### matplotlib
This library provides the varois graphs and the charts to represent and visualize the data.
#### Pandas
This library used for the import data sets and manages the data sets.

In [58]:
dataset = pd.read_csv("""/Users/rajanikant/Documents/Training/Machine-Learning/Machine Learning A-Z Template Folder/Part 1 - Data Preprocessing/Data_Preprocessing/Data.csv""")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [59]:
X = dataset.iloc[:,:-1].values
# Retrive the all values from the data set expected last column

In [60]:
# Printing the all data in the console
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [61]:
Y = dataset.iloc[:, 3].values
# Represent the third column only

In [62]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

### Replacing the missing values using "Mean"

In [63]:
# This library used for the preprocessing the data.
from sklearn.preprocessing import Imputer

In [64]:
# careating the object of the Imputer class
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
# Missing value represent which values we have to replace
# Strategy represents what we have going to compute like mean, mode, median
# axis represents the 0 for column and 1 for row
imputer = imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [65]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

### Encoding the categorical data

In [94]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
lable_encoder_X = LabelEncoder()
X[:,0] = lable_encoder_X.fit_transform(X[:,0])
# Encoded the first column that have the categorical data.

In [95]:
X

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

In [96]:
#  But this will causes the problem of the importance. Every value is considerd in the formulas so we have 
# Devide the first column in to three columns to idntify the values accurately. so we can get 3 column as spain, france and Germany

In [97]:
# OneHot Encoder is seperate the categorical values into the columns
onehot = OneHotEncoder(categorical_features= [0] )
X = onehot.fit_transform(X).toarray()
# print(X_train)
# X_train_1 = onehot.fit_transform(X_train)

In [98]:
X.astype(int)

array([[    0,     1,     0,     0,    44, 72000],
       [    1,     0,     0,     1,    27, 48000],
       [    1,     0,     1,     0,    30, 54000],
       [    1,     0,     0,     1,    38, 61000],
       [    1,     0,     1,     0,    40, 63777],
       [    0,     1,     0,     0,    35, 58000],
       [    1,     0,     0,     1,    38, 52000],
       [    0,     1,     0,     0,    48, 79000],
       [    1,     0,     1,     0,    50, 83000],
       [    0,     1,     0,     0,    37, 67000]])

In [99]:
# Lable encoder for the y axis
lable_encoder_y  = LabelEncoder()
Y[:,0] = lable_encoder_y.fit(Y[:,0])
Y

TypeError: 'LabelEncoder' object is not subscriptable